@charset "utf-8";

body,input,select,textarea{font-family:'roboto','nsans','メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,sans-serif;}

b,strong{font-weight:bold;}

a,a:hover,a:active,a:focus{outline:0;text-decoration:none;transition:.3s;}
a:hover,a:active,a:focus{opacity:1;}



.text-link,.text-link:hover,.text-link:active,.text-link:focus{text-decoration:underline;}
.text-link:hover,.text-link:active,.text-link:focus{text-decoration:none;}


/*html{overflow-y:scroll;}*/

h2,h3						{font-weight:bold;}
h2 small,h3 small			{font-weight:bold;}
h4,h5,h6					{font-weight:bold;}
h4 small,h5 small,h6 small	{line-height:inherit;color:inherit;}

.ellipsis{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

.anti-alias{transform:rotate(.028deg);}


/* phone,fax */
[class*="phone-"]		{line-height:1;font-weight:bold;}
[class*="phone-"][class*="ico-"]:before	{}
[class*="phone-"].telno:before,[class*="phone-"].faxno:before	{font-size:.75em;}
.phone-footer small		{font-weight:bold;}

.phone-slash{display:inline-block;width:1.5em;text-align:center;}
	@media only screen and (max-width:991px)	{.phone-slash{display:block;height:5px;color:transparent;}}

.phone-lg{font-size:45px;}
	@media only screen and (max-width:991px)	{.phone-lg{font-size:39px;}}
	@media only screen and (max-width:767px)	{.phone-lg{font-size:30px;}}

.phone-md{font-size:30px;}
	@media only screen and (max-width:1199px)	{.phone-md{font-size:24px;}}
	@media only screen and (max-width:991px)	{.phone-md{font-size:33px;}}
	@media only screen and (max-width:767px)	{.phone-md{font-size:24px;}}

.phone-sm{font-size:18px;}


.telno:before,.faxno:before{display:inline-block;text-align:left !important;margin-right:0.33em;}
.telno:before{content:"TEL.";}
.faxno:before{content:"FAX.";}
.tel-faxno:before{content:"TEL / FAX.";display:inline-block;}


/* list */
.disc{margin:0;padding:0;}
.disc li{margin-left:1.5em;}

.circle{margin:0;padding:0;list-style:none;}
.circle > li{padding-left:2em;display:flex;flex-flow:row wrap;}
.circle > li:before{content:"\f111";font-family:'Font Awesome\ 5 Pro';display:inline-block;width:2em;margin-left:-2em;color:#99cad0;font-weight:bold;font-size:10px;line-height:32px;}
	@media only screen and (max-width:767px)	{.circle > li:before{line-height:24px;}}

.circle-inner{padding-left:2em;}

.circle-layer{margin:0;padding:0;list-style:none;}
.circle-layer > li{padding-left:2em;display:flex;flex-flow:row wrap;}
.circle-layer > li:before{content:"\f00c";font-family:'Font Awesome\ 5 Pro';display:inline-block;width:2em;margin-left:-2em;color:#99cad0;font-weight:bold;line-height:32px;}

h3.circle{font-size:18px;line-height:2;padding-left:2em;display:flex;flex-flow:row wrap;align-items:center;}
h3.circle:before{content:"\f111";font-family:'Font Awesome\ 5 Pro';display:inline-block;width:2em;margin-left:-2em;color:#99cad0;font-weight:bold;font-size:10px;line-height:36px;}


.minus{margin:0;padding:0;list-style:none;}
.minus > li{display:inline-block;}
.minus > li:before{content:"-";display:inline-block;width:1em;color:#333;font-weight:bold;}

.minus > li + li{margin-left:1em;}


.decimal{margin:0;padding:0;}
.decimal li{margin-left:1.5em;}

.decimal-bold{margin:0;padding:0;font-weight:bold;}
.decimal-bold li{margin-left:1.5em;}
.decimal-bold li span{font-weight:normal;display:block;}
.decimal-bold li + li{margin-top:5px;}


.roma-l{list-style:upper-roman;}
.roma-l li{margin-left:1.5em;}


ul.check{margin:0;padding:0;list-style:none;}
ul.check li{padding-left:2em;}
ul.check li:before{content:"\f00c";font-family:'Font Awesome\ 5 Pro';display:inline-block;width:2em;margin-left:-2em;color:#279AC4;font-weight:bold;}

p.check,div.check{padding-left:2em;}
p.check:before,div.check:before{content:"\f14a";font-family:'Font Awesome\ 5 Pro';display:inline-block;width:2em;margin-left:-2em;color:#279AC4;font-weight:bold;}


.check-large{margin:0;padding:0;list-style:none;}
.check-large li{padding-left:1.5em;font-size:21px;font-weight:bold;}
	@media only screen and (max-width:1199px)	{.check-large li{font-size:16px;}}
	@media only screen and (max-width:767px)	{.check-large li{font-size:14px;}}


.check-large li:before{content:"\f00c";font-family:'Font Awesome\ 5 Pro';display:inline-block;width:1.5em;margin-left:-1.5em;color:#333;font-weight:bold;}
.check-large li + li{}


.checklist{margin:0;padding:0;list-style:none;display:flex;flex-wrap:wrap;}
.checklist li{line-height:1;display:inline-block;font-weight:bold;background:#FFF;margin:2px;}
.checklist li:before{content:"\f00c";font-family:'Font Awesome\ 5 Pro';display:inline-block;width:1.5em;color:#0d81c3;font-weight:bold;text-align:left;}


li .kome{display:block;}


.policy-administrator{display:flex;justify-content:flex-end;margin-top:15px;border-top:1px solid #ddd;padding-top:15px;}


.policy-administrator dl{display:table;}
.policy-administrator dt,.policy-administrator dd{display:table-cell;vertical-align:top;}

.policy-administrator dt{width:5em;}


/* margin / padding */
.mt-xxl-{margin-top:-75px !important;}
	@media only screen and (max-width:767px)	{.mt-xxl-{margin-top:-45px !important;}}

.mt-xl-{margin-top:-60px !important;}
	@media only screen and (max-width:767px)	{.mt-xl-{margin-top:-30px !important;}}

.mt-lg-{margin-top:-45px !important;}
	@media only screen and (max-width:767px)	{.mt-lg-{margin-top:-20px !important;}}

.mt-md-{margin-top:-30px !important;}
	@media only screen and (max-width:767px)	{.mt-md-{margin-top:-15px !important;}}

.mt-sm-{margin-top:-20px !important;}
	@media only screen and (max-width:767px)	{.mt-sm-{margin-top:-10px !important;}}

.mt-xs-{margin-top:-10px !important;}
	@media only screen and (max-width:767px)	{.mt-xs-{margin-top:-5px !important;}}

.mt0{margin-top:0 !important;}

.mt-xxl{margin-top:75px !important;}
	@media only screen and (max-width:767px)	{.mt-xxl{margin-top:60px !important;}}

.mt-xl{margin-top:60px !important;}
	@media only screen and (max-width:767px)	{.mt-xl{margin-top:45px !important;}}

.mt-lg{margin-top:45px !important;}
	@media only screen and (max-width:767px)	{.mt-lg{margin-top:30px !important;}}

.mt-md{margin-top:30px !important;}
	@media only screen and (max-width:767px)	{.mt-md{margin-top:15px !important;}}

.mt-sm{margin-top:20px !important;}
	@media only screen and (max-width:767px)	{.mt-sm{margin-top:10px !important;}}

.mt-xs{margin-top:10px !important;}
	@media only screen and (max-width:767px)	{.mt-xs{margin-top:5px !important;}}

.mb-xxl-{margin-bottom:-75px !important;}
	@media only screen and (max-width:767px)	{.mb-xxl-{margin-bottom:-45px !important;}}

.mb-xl-{margin-bottom:-60px !important;}
	@media only screen and (max-width:767px)	{.mb-xl-{margin-bottom:-30px !important;}}

.mb-lg-{margin-bottom:-45px !important;}
	@media only screen and (max-width:767px)	{.mb-lg-{margin-bottom:-20px !important;}}

.mb-md-{margin-bottom:-30px !important;}
	@media only screen and (max-width:767px)	{.mb-md-{margin-bottom:-15px !important;}}

.mb-sm-{margin-bottom:-20px !important;}
	@media only screen and (max-width:767px)	{.mb-sm-{margin-bottom:-10px !important;}}

.mb-xs-{margin-bottom:-10px !important;}
	@media only screen and (max-width:767px)	{.mb-xs-{margin-bottom:-5px !important;}}

.mb0{margin-bottom:0 !important;}

.mb-xxl{margin-bottom:75px !important;}
	@media only screen and (max-width:767px)	{.mb-xxl{margin-bottom:45px !important;}}

.mb-xl{margin-bottom:60px !important;}
	@media only screen and (max-width:767px)	{.mb-xl{margin-bottom:30px !important;}}

.mb-lg{margin-bottom:45px !important;}
	@media only screen and (max-width:767px)	{.mb-lg{margin-bottom:20px !important;}}

.mb-md{margin-bottom:30px !important;}
	@media only screen and (max-width:767px)	{.mb-md{margin-bottom:15px !important;}}

.mb-sm{margin-bottom:20px !important;}
	@media only screen and (max-width:767px)	{.mb-sm{margin-bottom:10px !important;}}

.mb-xs{margin-bottom:10px !important;}
	@media only screen and (max-width:767px)	{.mb-xs{margin-bottom:5px !important;}}

.mb-xxs{margin-bottom:5px !important;}
	@media only screen and (max-width:767px)	{.mb-xs{margin-bottom:5px !important;}}


hr{margin:30px 0;border-top:1px solid #ddd;}
	@media only screen and (max-width:767px)	{hr{margin:15px 0;}}


.hr-xxl{margin:75px 0;}
	@media only screen and (max-width:767px)	{.hr-xxl{margin:45px 0;}}

.hr-xl{margin:60px 0;}
	@media only screen and (max-width:767px)	{.hr-xl{margin:30px 0;}}

.hr-lg{margin:45px 0;}
	@media only screen and (max-width:767px)	{.hr-lg{margin:20px 0;}}

.hr-sm{margin:20px 0;}
	@media only screen and (max-width:767px)	{.hr-sm{margin:10px 0;}}

.hr-xs{margin:10px 0;}
	@media only screen and (max-width:767px)	{.hr-xs{margin:5px 0;}}

.hr-xxs{margin:5px 0;}
	@media only screen and (max-width:767px)	{.hr-xxs{margin:5px 0;}}


.text-lg{font-size:18px;}
	@media only screen and (max-width:767px)	{.text-lg{font-size:15px;}}


/* font-face */
@font-face{font-weight:normal;font-style:normal;font-family:'roboto';src:url('../webfonts/roboto-light.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'roboto';src:url('../webfonts/roboto-medium.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'roboto-b';src:url('../webfonts/roboto-bold.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'roboto-b';src:url('../webfonts/roboto-black.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'roboto-cn';src:url('../webfonts/roboto-cn-light.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'roboto-cn';src:url('../webfonts/roboto-cn-regular.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'roboto-cn-b';src:url('../webfonts/roboto-cn-bold.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'roboto-cn-b';src:url('../webfonts/roboto-cn-bold.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'nsans';src:url('../webfonts/nsjp-light.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'nsans';src:url('../webfonts/nsjp-medium.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'nsans-b';src:url('../webfonts/nsjp-bold.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'nsans-b';src:url('../webfonts/nsjp-bold.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'nserif';src:url('../webfonts/nmjp-medium.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'nserif';src:url('../webfonts/nmjp-bold.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'playfair';src:url('../webfonts/playfair.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'playfair';src:url('../webfonts/playfair.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'condiment';src:url('../webfonts/condiment.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'condiment';src:url('../webfonts/condiment.woff') format('woff');}

@font-face{font-weight:normal;font-style:normal;font-family:'rl';src:url('../webfonts/rl.woff') format('woff');}
@font-face{font-weight:bold;font-style:normal;font-family:'rl';src:url('../webfonts/rl.woff') format('woff');}


.html{word-break : break-all;word-wrap : break-word;overflow-wrap : break-word;}


