@charset "utf-8";



.ico-user:before{content: "\f007";}

.ico-login:before{content: "\f023";}

.ico-cart:before{content: "\f07a";}

.ico-store:before{content: "\f54e";}

.hwt-hour{}

.hwt-hour dl{display: table;width: 100%;}
.hwt-hour dt,.hwt-hour dd{display: table-cell;vertical-align: top;}
.hwt-hour dt{width: 6em;}


/* shop */
.category-title{position: relative;font-weight: bold;font-size: 36px;margin-bottom: 20px;padding-bottom: 25px;}

.category-title span{position: relative;z-index: 1;}
	@media only screen and (max-width:767px)	{.shop-title span{position: relative;z-index: 1;font-size: 21px;}}


.bg-category-sort{background: rgba(96,57,32,.75);margin: 30px 0;padding: 10px;}


.item-box{box-shadow:0 0 12px rgba(0,0,0,.1);padding: 20px;background: rgba(255,255,255,.75);display: block;}
	@media only screen and (max-width:767px)	{.item-box{padding: 15px;}}

.item-box:hover,.item-box:active,.item-box:focus{opacity:.75;}

.tit-item-box{border-bottom: 1px dotted #666;font-weight: bold;font-size: 18px;background: #005bab;color:#fff;margin: -19px -19px 20px;text-align: center;padding: 20px;}
	@media only screen and (max-width:767px)	{.tit-item-box{font-size: 16px;margin: -14px -14px 15px;padding: 15px;}}

.item-detail-box{box-shadow:0 0 12px rgba(0,0,0,.1);padding: 45px;background: rgba(255,255,255,.75);}
	@media only screen and (max-width:767px)	{.item-detail-box{padding: 15px;}}

.tit-item-detail-box{border-bottom: 1px dotted #666;padding-bottom: 15px;font-weight: bold;font-size: 24px;background: #005bab;color:#fff;margin: -44px -44px 45px;padding: 29px 44px;text-align: center;}
	@media only screen and (max-width:767px)	{.tit-item-detail-box{padding-bottom: 10px;font-size: 16px;margin: -14px -14px 15px;padding: 15px;}}


.item-box-img{margin: -19px -19px 19px;}
	@media only screen and (max-width:767px)	{.item-box-img{margin: -14px -14px 15px;}}

.item-box-img:last-child{margin: -19px;}
	@media only screen and (max-width:767px)	{.item-box-img:last-child{margin: -14px;}}

.item-box hr{margin: 15px 0;}

.item-box + .item-box{margin-top: 30px;}
	@media only screen and (max-width:767px)	{.item-box + .item-box{margin-top: 15px;}}

.item-price{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin: 20px 0;padding: 20px 0;text-align: right;line-height: 1;}
	@media only screen and (max-width:767px)	{.item-price{margin: 10px 0;padding: 10px 0;}}

.item-price:first-child{margin-top: 0;}
.item-price:last-child{margin-bottom: 0;}


.item-box h4 + .item-price{border-top: none;}


.item-cart{display: flex;justify-content:space-between;align-items:center;}
	@media only screen and (max-width:575px)	{.item-cart{display: block;}}

.item-cart .number{display: table;}
	@media only screen and (max-width:575px)	{.item-cart .number{margin-bottom: 10px;width: 100%;}}

.item-cart .number dt,.item-cart .number dd{display: table-cell;vertical-align: middle;}

.item-cart .number dt{padding-right: 1em;}

.item-cart .number dd input{text-align: center;width: 5em;}

.item-cart .number dd{}
	@media only screen and (max-width:575px)	{.item-cart .number dd{text-align: right;}}

.item-cart .ax-flat{width: 200px;}
	@media only screen and (max-width:575px)	{.item-cart .ax-flat{width: 100%;}}



.item-detail-box th,.item-detail-box td{padding: 9px;}
@media only screen and (max-width:767px)	{.item-detail-box th,.item-detail-box td{padding:4px;}}


.item-detail-box th{width: 7em;text-align: center;}



.prc-tb{border-top: 1px solid #ddd;border-left: 1px solid #ddd;margin-top: -1px;}

.prc-tb th,.prc-tb td{line-height: 1.75;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;text-align: center;padding: 9px;}
	@media only screen and (max-width:575px)	{.prc-tb th,.prc-tb td{display: block;}}

.prc-tb th{width:50%;background: #efefef;}
	@media only screen and (max-width:575px)	{.prc-tb th{width: auto;padding: 9px;}}

.prc-tb td{}
	@media only screen and (max-width:575px)	{.prc-tb td{}}


.bnk-tb{border-top: 1px solid #ddd;border-left: 1px solid #ddd;}

.bnk-tb th,.bnk-tb td{line-height: 1.75;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 9px;}
	@media only screen and (max-width:575px)	{.bnk-tb th,.bnk-tb td{display: block;}}

.bnk-tb th{width:9em;background: #efefef;text-align: center;}
	@media only screen and (max-width:575px)	{.bnk-tb th{width: auto;padding: 9px;}}

.bnk-tb td{}
	@media only screen and (max-width:575px)	{.bnk-tb td{}}


.ara-tb{border-top: 1px solid #ddd;border-left: 1px solid #ddd;}

.ara-tb th,.ara-tb td{line-height: 1.75;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 9px;}
	@media only screen and (max-width:575px)	{.ara-tb th,.ara-tb td{font-size: 12px;padding: 4px;}}

.ara-tb th{background: #efefef;text-align: center;}
	@media only screen and (max-width:575px)	{.ara-tb th{width: auto;padding: 9px;}}

.ara-tb td{}
	@media only screen and (max-width:575px)	{.ara-tb td{}}

.wsn{white-space: nowrap;}


.cmn-tb.spc{}

.cmn-tb.spc th,.cmn-tb.spc td{vertical-align: top;line-height: 1.75;}
	@media only screen and (max-width:575px)	{.cmn-tb.spc th,.cmn-tb.spc td{display: block;}}

.cmn-tb.spc th{width:7em;}
	@media only screen and (max-width:575px)	{.cmn-tb.spc th{width: auto;padding: 9px;}}

.cmn-tb.spc td{}
	@media only screen and (max-width:575px)	{.cmn-tb.spc td{}}



/* aside */
.list-group{border-radius:0;overflow: hidden;}
.list-group h3{text-align:center;font-size:16px;background:#09c;color:#fff;padding:19px 9px;display:block;font-size: 16px;font-family: 'mplus',sans-serif;}
.list-group h3 a,.list-group h3 a:hover{text-align:center;font-size:16px;background:#09c;color:#fff;padding:14px;display:block;margin:-14px;font-family: 'mplus',sans-serif;}

.list-group-item{display:table;width:100%;padding:0;}
.list-group-item:first-child,.list-group-item:last-child{border-radius:0;}
.list-group-item:first-child,.list-group-item:last-child{border-radius:0;}

a.list-group-item{padding:0;display:table;width:100%;}
a.list-group-item:hover{background:#f6f6f6;}
a.list-group-item.active{background:#fbfbe7;border-color:#ddd}

.list-group-img{background-position:center center;background-repeat:no-repeat;background-size:cover;width:55px;}
.list-group-img,.list-group-category{display:table-cell;vertical-align:middle;color:#333;}
.active .list-group-category{color:#333;}

.list-group-category{padding:14px;}
.list-group-category:before{content:"\f00c";font-family:'Font Awesome\ 5 Pro';display:inline-block;width:1.5em;color:transparent;display:none;}
.active .list-group-category:before{color:#c00;}

.text-large{font-size: 1.2em;font-weight: bold;}
	@media only screen and (max-width:767px)	{.text-large{font-size: 1.25em;}}
	@media only screen and (max-width:575px)	{.text-large{font-size: 1.1em;}}
