@charset "utf-8";

body,input,select,textarea{color:#212121;font-size:16px;line-height:2;}
	@media only screen and (max-width:767px)	{body,input,select,textarea{font-size:14px;line-height:1.75;}}

body{min-width:100%;}

::selection {background:#999;color:#fff;}
::-moz-selection {background:#999;color:#fff;}

a,a:hover{color:#212121;}

.text-link,a.text-link:hover,a.text-link:active,a.text-link:focus{color:#F93;}


.img-link:hover img{opacity:.75;}

span[data-action="call"]{display:inline-block;}

/* header */


/* index */



.nav-pills .nav-item{margin-right:5px;margin-bottom:5px;}
	@media only screen and (max-width:767px)	{.nav-pills .nav-item{margin-right:2px;margin-bottom:2px;}}

.nav-pills .nav-link{background:#F5F5F5;border:1px solid #ddd;border-radius:0;font-size:14px;padding:5px 10px;}
	@media only screen and (max-width:767px)	{.nav-pills .nav-link{font-size:12px;padding:2px 4px;}}


.nav-pills .nav-link.active {background:#000;border:1px solid #000;}


.tab-content{padding-top:30px;}


/* new item */
.sec-item{position:relative;}
.sec-item:before{content:"";position:absolute;top:0;left:0;right:50%;bottom:0;background:url(../images/sec-item.jpg) right center /cover no-repeat;margin-right:240px;}
	@media only screen and (max-width:1199px)	{.sec-item:before{margin-right:210px;}}
	@media only screen and (max-width:991px)	{.sec-item:before{background-image:none;}}


.cat-icon{background:#000;color:#FFF;font-size:12px;padding:5px;line-height:1.25;margin-top:10px;}
	@media only screen and (max-width:767px)	{.cat-icon{font-size:10px;}}

.top-item-title{font-size:15px;font-weight:bold;margin:10px 0;}

.top-item-price{font-size:14px;line-height:1;}


/* about */
.sec-about{position:relative;}
.sec-about:before{content:"";position:absolute;top:0;left:0;right:50%;bottom:0;background:url(../images/sec-about.jpg) right center /cover no-repeat;}
	@media only screen and (max-width:991px)	{.sec-about:before{background-image:none;}}


/* member */
.sec-member{position:relative;}
.sec-member:before{content:"";position:absolute;top:0;left:50%;right:0;bottom:0;background:url(../images/sec-member.jpg) right center /cover no-repeat;}
	@media only screen and (max-width:991px)	{.sec-member:before{background-image:none;}}


/* wrapper */
#wrapper{padding-top:0;background:transparent;color:#FFF;}
	@media only screen and (max-width:991px)	{#wrapper{padding-top:0;}}

/* #header */
#header{background:rgba(0,0,0,.66);box-shadow:0 0 12px rgba(0,0,0,.1);padding:15px 0;}
	@media only screen and (max-width:991px)	{#header{padding:0;}}

#header.index{top:calc(100vh - 120px);}
	@media only screen and (max-width:991px)	{#header.index{position:fixed;top:0;}}

#header.fixed{position:fixed;top:0;}

#header.index .navbar-brand a img{opacity:0;}

#header.index.fixed .navbar-brand a img{opacity:1;}


#header > .container-fluid{padding:0 30px;}
	@media only screen and (max-width:991px)	{#header > .container-fluid{padding:0 15px;}}

#hd-menu{display:flex;flex-flow:row wrap;align-items:center;}
	@media only screen and (max-width:991px)	{.hd-contact{display:none;}}


.navbar-brand a img{vertical-align:top;width:auto;height:60px;}
	@media only screen and (max-width:991px)	{.navbar-brand a img{height:40px;}}

.navbar-brand a small{font-size:12px;line-height:1;margin-bottom:15px;}


.hd-blog{}
.hd-instagram{margin-right: 1.5em;}
	@media only screen and (max-width:991px)	{.hd-instagram{margin-right: 35px;}}


.ico-sns,a.ico-sns:hover,a.ico-sns:active,a.ico-sns:focus{color:#FFF;padding:15px;text-align:center;display:block;}
a.ico-sns:hover,a.ico-sns:active,a.ico-sns:focus{opacity:.75;}

	@media only screen and (max-width:991px)	{.ico-sns,a.ico-sns:hover,a.ico-sns:active,a.ico-sns:focus{padding: 13px;width: 50px;text-align: center;}}


.ico-sns i{font-size:30px;line-height:1;}
	@media only screen and (max-width:991px)	{.ico-sns i{font-size:24px;}}

.ico-sns p{margin-top:15px;text-align:center;font-size:21px;line-height:1;font-weight:bold;}
	@media only screen and (max-width:991px)	{.ico-sns p{font-size:18px;}}



/* navigation */
.navbar-toggler			{color:#FFF;}

.navbar-toggler-icon,.navbar-toggler-icon:before,.navbar-toggler-icon:after{width:14px;height:2px;background:#FFF;}
.navbar-toggler-icon:before,.navbar-toggler-icon:after{content:"";position:absolute;left:0;right:0;}
.navbar-toggler-icon{margin:10px auto;}

button[aria-expanded="false"] .navbar-toggler-icon:before{top:-5px;}
button[aria-expanded="false"] .navbar-toggler-icon:after{bottom:-5px;}

.navbar-toggler small{font-size:10px;line-height:10px;color:#FFF;font-family:'roboto-cn',sans-serif;}


.navbar-container{}
	@media only screen and (max-width:991px)	{.navbar-container{background:#FFF;}}


.navbar-expand-lg .navbar-nav{justify-content:center;}
	@media only screen and (max-width:991px)	{.navbar-expand-lg .navbar-nav{border-top:1px solid #ddd;background:#FFF;}}


.navbar-expand-lg .navbar-nav .nav-item{}
	@media only screen and (max-width:991px)	{.navbar-expand-lg .navbar-nav .nav-item{border-bottom:1px solid #ddd;}}

.navbar-expand-lg .navbar-nav .nav-item + .nav-item{margin-left:2.5em;}
	@media only screen and (max-width:1199px)	{.navbar-expand-lg .navbar-nav .nav-item + .nav-item{margin-left:1em;}}
	@media only screen and (max-width:991px)	{.navbar-expand-lg .navbar-nav .nav-item + .nav-item{margin-left:0;}}


.navbar-expand-lg .navbar-nav .nav-link{color:#FFF;font-size:30px;line-height:24px;padding:12px 0;font-weight:bold;font-family:'rl',serif;}
	@media only screen and (max-width:991px)	{.navbar-expand-lg .navbar-nav .nav-link{padding:10px 15px;color:#212121;font-size:24px;line-height:26px;}}

.navbar-expand-lg .navbar-nav .nav-link small{font-size:11px;line-height:1;margin-top:11px;letter-spacing:0;text-indent:0;font-family:'nsans',sans-serif;}
	@media only screen and (max-width:991px)	{.navbar-expand-lg .navbar-nav .nav-link small{font-size:12px;line-height:26px;margin:-13px 0;}}


.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link:active,
.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link,
.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:active,
.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:focus{background:transparent;color:#FFF;}
	@media only screen and (max-width:991px)	{.navbar-expand-lg .navbar-nav .nav-link:hover,.navbar-expand-lg .navbar-nav .nav-link:active,.navbar-expand-lg .navbar-nav .nav-link:focus,.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link,.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:hover,.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:active,.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:focus{background:#000;color:#FFF;}}

.navbar-expand-lg .navbar-nav .nav-link:hover small,
.navbar-expand-lg .navbar-nav .nav-link:active small,
.navbar-expand-lg .navbar-nav .nav-link:focus small,
.navbar-expand-lg .navbar-nav .active .nav-link small{}
	@media only screen and (max-width:991px)	{.navbar-expand-lg .navbar-nav .nav-link:hover small,.navbar-expand-lg .navbar-nav .nav-link:active small,.navbar-expand-lg .navbar-nav .nav-link:focus small,.navbar-expand-lg .navbar-nav .active .nav-link small{}}


.navbar-expand-lg .navbar-nav .nav-link:after{bottom:0;border-bottom:2px solid transparent;}

.navbar-expand-lg .navbar-nav .nav-link:hover:after,
.navbar-expand-lg .navbar-nav .nav-link:active:after,
.navbar-expand-lg .navbar-nav .nav-link:focus:after,
.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:after,
.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:hover:after,
.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:active:after,
.navbar-expand-lg .navbar-nav .nav-item.active > .nav-link:focus:after{border-color:#FFF;}


/* dropdown */
.dropdown-menu{padding:4px 0;border:1px solid #ddd;}
	@media only screen and (max-width:991px)	{.dropdown-menu{border-top:1px solid #ddd;}}

.dropdown-item{font-size:14px;line-height:20px;padding:5px 15px;}
	@media only screen and (max-width:991px)	{.dropdown-item{font-size:12px;line-height:16px;padding:7px 15px;}}

.dropdown-item:before{}
	@media only screen and (max-width:991px)	{.dropdown-item:before{content:"\f105";width:1em;color:#025880;}}

.dropdown-item:hover,.dropdown-item:active,.dropdown-item:focus,.dropdown-item.active{background:#279AC4;color:#FFF;}
	@media only screen and (max-width:991px)	{.dropdown-item:hover,.dropdown-item:active,.dropdown-item:focus,.dropdown-item.active{}}

.dropdown-item:hover:before,.dropdown-item:active:before,.dropdown-item:focus:before,.dropdown-item.active:before{color:#FFF}
	@media only screen and (max-width:991px)	{.dropdown-item:hover:before,.dropdown-item:active:before,.dropdown-item:focus:before,.dropdown-item.active:before{}}


.outer{background:#000;}
.outer.index{margin-top:calc(100vh - 120px);padding-top:120px !important;}
	@media only screen and (max-width:991px)	{.outer.index{margin-top:500px;padding-top:0px !important;}}
	@media only screen and (max-width:767px)	{.outer.index{margin-top:calc(100vh - 40px);}}
	@media only screen and (max-width:575px)	{.outer.index{margin-top:360px;}}


/* page-title */
.page-title{padding-top: 120px;}
	@media only screen and (max-width:991px)	{.page-title{padding-top: 50px;}}

.page-bg{background:#000;}

.page-bg > img{opacity:.9;}

.page-title h2{font-size:90px;line-height:1;text-align:center;color:#FFF;padding:90px 0;letter-spacing:.05em;text-indent:.05em;font-weight:bold;text-shadow:0 0 5px #000;font-family: 'rl',serif;}
    @media only screen and (max-width:991px)    {.page-title h2{font-size:66px;padding:60px 0;}}
    @media only screen and (max-width:767px)    {.page-title h2{font-size:42px;padding:30px 0;}}

.page-title h2 small{font-size:24px;line-height:1;margin-top:30px;letter-spacing:0;text-indent:0;color:#FFF;font-family: 'nsans',sans-serif;}
    @media only screen and (max-width:991px)    {.page-title h2 small{font-size:21px;margin-top:20px;}}
    @media only screen and (max-width:767px)    {.page-title h2 small{font-size:16px;margin-top:10px;}}


#article{background: #000;}


.ap{margin-top:-125px;padding-top:125px;}
	@media only screen and (max-width:991px)	{.ap{margin-top:-50px;padding-top:50px;}}

.box-ap{margin-top:-240px;padding-top:240px;margin-bottom:45px;}
	@media only screen and (max-width:991px)	{.box-ap{margin-top:-135px;padding-top:135px;}}

.sec-ap{margin-top:-125px;padding-top:125px;}
	@media only screen and (max-width:991px)	{.sec-ap{margin-top:-135px;padding-top:135px;}}

.sec-ap article{margin-top:75px;}
	@media only screen and (max-width:991px)	{.sec-ap article{margin-top:45px;}}


/* over-image-text */
.over-image-text{padding:45px 0;}
	@media only screen and (max-width:991px)	{.over-image-text{padding:0;}
	}

.over-image-text-lg{padding:90px 0;}
	@media only screen and (max-width:991px)	{.over-image-text-lg{padding:0;}
	}

.over-image-text-xl{padding:135px 0;}
	@media only screen and (max-width:991px)	{.over-image-text-xl{padding:0;}
	}


/* over-text-image */
.over-text-image{padding:45px 0;}
	@media only screen and (max-width:991px)	{.over-text-image{padding:0;}
	}

.over-text-image-lg{padding:90px 0;}
	@media only screen and (max-width:991px)	{.over-text-image-lg{padding:0;}
	}

.over-text-image-xl{padding:135px 0;}
	@media only screen and (max-width:991px)	{.over-text-image-xl{padding:0;}
	}


.img-left,.img-right{position:absolute;top:0;bottom:0;display:flex;}

.img-left{left:-460px;right:30px;}
.img-right{left:30px;right:-460px;}
	@media only screen and (max-width:1899px)	{
		.img-left{left:-410px;}
		.img-right{right:-410px;}
	}
	@media only screen and (max-width:1799px)	{
		.img-left{left:-360px;}
		.img-right{right:-360px;}
	}
	@media only screen and (max-width:1699px)	{
		.img-left{left:-310px;}
		.img-right{right:-310px;}
	}
	@media only screen and (max-width:1599px)	{
		.img-left{left:-260px;}
		.img-right{right:-260px;}
	}
	@media only screen and (max-width:1499px)	{
		.img-left{left:-210px;}
		.img-right{right:-210px;}
	}
	@media only screen and (max-width:1399px)	{
		.img-left{left:-160px;}
		.img-right{right:-160px;}
	}
	@media only screen and (max-width:1299px)	{
		.img-left{left:-110px;}
		.img-right{right:-110px;}
	}
	@media only screen and (max-width:1199px)	{
		.img-left{left:-60px;}
		.img-right{right:-60px;}
	}
	@media only screen and (max-width:991px)	{
		.img-left,.img-right{position:static;display:block;margin:0 -40px;}
		.img-left .bg-cover,.img-right .bg-cover{height:300px;}
	}
	@media only screen and (max-width:767px)	{
		.img-left,.img-right{margin:0 -15px;}
		.img-left .bg-cover,.img-right .bg-cover{height:150px;}
	}


/* paging */
.paging									{margin:60px 0 0;}
.paging .paging-text,.paging .current	{margin:0 1px;color:#fff;padding:0;width:36px;line-height:34px;display:block;font-size:18px;border:1px solid #ddd;}
.paging .paging-text					{background:#fff;color:#999;}
.paging .paging-text:hover				{background:#fff;color:#999;border:1px solid #999;}

.paging .current						{background:#999;color:#fff;border:1px solid #999;}

	@media screen and (max-width:991px)	{
		.paging									{margin:30px 0 0;}
		.paging .paging-text,.paging .current	{width:30px;line-height:28px;font-size:16px;}
	}

	@media screen and (max-width:767px)	{
		.paging									{margin:15px 0 0;}
		.paging .paging-text,.paging .current	{width:24px;line-height:22px;font-size:14px;}
	}


/* category-nav responsive-accordion */
.cat-nav{margin-bottom:0;}

.cat-nav li{flex:1 1 auto;}

.cat-nav li a{font-size:16px;line-height:1.5;background:#000;color:#FFF;opacity:.5;font-weight:bold;}

.cat-nav li a:hover,.cat-nav li a:active,.cat-nav li a:focus,.cat-nav li.active a{color:#FFF;}


@media screen and (max-width:991px){
	.cat-title{font-size:14px;line-height:1.5;background:#000;color:#FFF;font-weight:bold;}

	.cat-nav li a{
		border:1px solid #ddd;
		padding:0 9px;
		background:#fff;
		color:#212121;
		font-size:14px;
	}

	input:checked + .cat-nav li a{padding:9px;line-height:1.25;color:#212121;}

	.cat-nav li.active a{background:#F5F5F5;color:#fff;}
}


/* footer */
footer{}

#footer{padding:45px 0;font-size:14px;line-height:1.5;background:#000;color:#FFF;}
	@media only screen and (max-width:767px)	{#footer{padding:30px 0;font-size:14px;}}

#footer p > span,#footer p > a{color:#212121 !important;}

.footer-brand{margin-bottom:20px;}
	@media only screen and (max-width:575px)	{.footer-brand{text-align:center;margin-bottom:10px;}}

.footer-brand img{vertical-align:top;width:auto;height:40px;}
	@media only screen and (max-width:1199px)	{.footer-brand img{height:30px;}}
	@media only screen and (max-width:991px)	{.footer-brand img{}}


.add{display:flex;flex-flow:row wrap;line-height:1;}
	@media only screen and (max-width:575px)	{.add{justify-content:center;}}

.add a,.add a:hover,.add a:active,.add a:focus,.add span[data-action="call"]{color:#212121 !important;}
.add a:hover,.add a:active,.add a:focus{opacity:1;}

.add + .add{margin-top:10px;}


.add p + p{margin:0;}

.add-name{flex:1 1 100%;max-width:100%;}

.add-name:before{content:"【";}
.add-name:after{content:"】";}


.add-pzip{}
.add-pzip:before{content:"〒";}
	@media only screen and (max-width:991px)	{.add-pzip{text-align:center;}}


.add-add{margin-left:1em;}
	@media only screen and (max-width:991px)	{.add-add{margin-left:0;margin-top:5px;}}
	@media only screen and (max-width:575px)	{.add-add{text-align:center;}}

.add-building{margin-left:1em;}
	@media only screen and (max-width:575px)	{.add-building{flex:1 1 100%;max-width:100%;padding-top:5px;}}


.add-map{margin-left:1em;}


.add-tel,.add-fax{}

.add-tel{border-radius:4px;background:rgba(255,255,255,.9);display:flex;justify-content:space-between;font-size:21px;align-items:center;padding:15px;font-weight:bold;line-height:1;margin-bottom:10px;}
	@media only screen and (max-width:767px)	{.add-tel{font-size:18px;padding:10px;}}

.add-tel h3{font-size:16px;font-weight:bold;}
	@media only screen and (max-width:767px)	{.add-tel h3{font-size:14px;}}

.add-tel .ico-tel{color:#279AC4;}


.add-fax{}
	@media only screen and (max-width:575px)	{.add-fax{text-align:center;}}

.add-tel-fax{}
	@media only screen and (max-width:575px)	{.add-tel-fax{text-align:center;}}


.add-tel:before,.add-fax:before{display:inline-block;width:2.5em;}
	@media only screen and (max-width:575px)	{.add-tel:before,.add-fax:before{}}


.add-tel + .add-fax{margin-left:1em;}
	@media only screen and (max-width:575px)	{.add-telno + .add-faxno{}}

.add-tel + .add-fax:before{content:"/ FAX.";width:3em;margin-left:.33em;}
	@media only screen and (max-width:991px)	{.add-tel + .add-fax:before{content:"FAX.";margin-left:0;width:2.5em;}}
	@media only screen and (max-width:575px)	{.add-tel + .add-fax:before{content:"/ FAX.";width:3em;margin-left:.25em;}}


.fadd{display:flex;flex-flow:row wrap;line-height:1;}
	@media only screen and (max-width:575px)	{.fadd{justify-content:center;}}

.fadd a,.fadd a:hover,.fadd a:active,.fadd a:focus,.fadd span[data-action="call"]{color:#212121 !important;}
.fadd a:hover,.fadd a:active,.fadd a:focus{opacity:1;}

.fadd + .fadd{margin-top:10px;}


.fadd p + p{margin:0;}

.fadd-name{flex:1 1 100%;max-width:100%;}

.fadd-name:before{content:"【";}
.fadd-name:after{content:"】";}


.fadd-pzip{}
.fadd-pzip:before{content:"〒";}
	@media only screen and (max-width:991px)	{.fadd-pzip{text-align:center;}}


.fadd-add{margin-left:1em;}
	@media only screen and (max-width:991px)	{.fadd-add{margin-left:0;margin-top:5px;}}
	@media only screen and (max-width:575px)	{.fadd-add{text-align:center;}}

.fadd-building{margin-left:1em;}
	@media only screen and (max-width:575px)	{.fadd-building{flex:1 1 100%;max-width:100%;padding-top:5px;}}


.fadd-map{margin-left:1em;}


.fadd-tel,.fadd-fax{}

.fadd-tel{}
	@media only screen and (max-width:767px)	{.fadd-tel{}}

.fadd-tel .ico-tel{color:#279AC4;}


#footer .shoshin{font-size:16px;}

.fadd-fax{}
	@media only screen and (max-width:575px)	{.fadd-fax{text-align:center;}}

.fadd-tel-fax{}
	@media only screen and (max-width:575px)	{.fadd-tel-fax{text-align:center;}}


.fadd-tel:before,.fadd-fax:before{display:inline-block;margin-right:0.33em;}
	@media only screen and (max-width:575px)	{.fadd-tel:before,.fadd-fax:before{}}


.fadd-tel + .fadd-fax{}
	@media only screen and (max-width:575px)	{.fadd-tel + .fadd-fax{}}

.fadd-tel + .fadd-fax:before{content:"/ FAX.";margin:0 .33em;}
	@media only screen and (max-width:991px)	{.fadd-tel + .fadd-fax:before{content:"FAX.";margin-left:0;width:2.5em;}}
	@media only screen and (max-width:575px)	{.fadd-tel + .fadd-fax:before{content:"/ FAX.";width:3em;margin-left:.25em;}}

#footer hr{margin:10px 0;}

#copyright{display:block;font-size:12px;text-align:center;padding:0;}
	@media only screen and (max-width:991px)	{#copyright{}}
	@media only screen and (max-width:767px)	{#copyright{font-size:10px;}}


small#copyright{line-height:1;display:block;margin-top:45px;}
footer#copyright{line-height:30px;background:#212121;color:#FFF;}

#copyright:before{content:"\f1f9";font-family:'Font Awesome\ 5 Pro';width:1.5em;display:inline-block;font-weight:normal;font-weight:100;}


#pagetop{background-image:url(../images/cmn/pagetop.png)
	width:41px;height:41px;position:fixed;right:20px;bottom:20px;cursor:default;z-index:999;opacity:0;transition:.2s;}
	@media only screen and (max-width:991px)	{#pagetop{display:none;}}

#pagetop.is-active{opacity:1;transition:.6s;cursor:pointer;}

/* #fnav */
#fnav{background:#212121;color:#FFF;padding:45px 0;}
	@media only screen and (max-width:991px)	{#fnav{padding:0;margin-top:0;}}


.fnav-btn{position:fixed;left:0;right:0;bottom:0;z-index:999;display:none;}
	@media only screen and (max-width:991px)	{.fnav-btn{display:table;width:100%;table-layout:fixed;margin:0;padding:1px;background:#FFF;border-top:1px solid #ddd;}}

.fnav-menu{list-style:none;display:flex;justify-content:center;align-items:center;font-size:14px;line-height:1;}
	@media only screen and (max-width:991px)	{.fnav-menu{display:none;}}

.fnav-menu + .fnav-menu{}
	@media only screen and (max-width:991px)	{.fnav-menu + .fnav-menu{}}

.fnav-item{white-space:nowrap;}
	@media only screen and (max-width:991px)	{.fnav-item{display:table-cell;vertical-align:middle;padding:1px;text-align:center;height:auto;}}

.fnav-item + .fnav-item{}
	@media only screen and (max-width:991px)	{.fnav-item + .fnav-item{margin:0;border-left:none;}}

.fnav-link,.fnav-link:hover,.fnav-link:active,.fnav-link:focus{opacity:1;white-space:nowrap;color:#FFF;font-size:30px;line-height:1;padding:2px .5em;margin:-2px .5em;font-family:'rl',sans-serif;}
	@media only screen and (max-width:991px)	{.fnav-link,.fnav-link:hover,.fnav-link:active,.fnav-link:focus{display:block;background:#000;color:#FFF;font-size:10px;line-height:10px;
		padding:3px 2px;position:relative;text-decoration:none;margin:0;}}

.fnav-link:hover,.fnav-link:active,.fnav-link:focus{opacity:1;background:rgba(255,255,255,.25);color:#FFF;border-radius:2px;}
	@media only screen and (max-width:991px)	{.fnav-link:hover,.fnav-link:active,.fnav-link:focus{background:#000;color:#FFF;opacity:.75;text-decoration:none;}}

.fnav-item:before{content:"\f054";font-family:'Font Awesome\ 5 Pro';width:1em;display:inline-block;color:#FFF;font-weight:bold;display:none;}
	@media only screen and (max-width:991px)	{.fnav-item:before{display:none;}}


.fnav-link:before{}
	@media only screen and (max-width:991px)	{.fnav-link:before{font-family:'Font Awesome\ 5 Pro';font-size:16px;line-height:1;margin:2px auto 1px !important;width:1em;display:block;text-align:center;font-weight:bold;color:#FFF;text-align:center;}}


.fnav-item > strong			{display:inline-block;vertical-align:middle;font-weight:normal;}
.fnav-item > strong > a		{color:#279AC4;}
.fnav-item > strong > a:hover,.fnav-item > strong > a:active,.fnav-item > strong > a:focus	{color:#FFF;opacity:1;}
.fnav-item > span			{display:block;padding-left:2em;}
.fnav-item > span + span	{margin:0 .5em 0 -.5em;}
.fnav-item > span > a		{color:#FFF;display:block;vertical-align:middle;}
.fnav-item > span > a:hover,.fnav-item > span > a:active,.fnav-item > span > a:focus	{color:#FFF;opacity:1;text-decoration:underline;}

.fnav-item > span a:before,.fnav-item > span a:after{display:inline-block;vertical-align:middle;width:1em;}
.fnav-item > span a:before	{content:"・";}
.fnav-item > span a:after	{content:"";}


.line-blog img{width:auto;height:21px;}

.fico-sns{color:#FFF;font-size:27px;line-height:21px;}


.footer-sns{display:flex;justify-content:flex-end;align-items:center;}
	@media only screen and (max-width:575px)	 {.footer-sns{justify-content:center;}}

a.fico-sns i,a.fico-sns:hover i,a.fico-sns:active i,a.fico-sns:focus{color:#fff;}
a.fico-sns:hover i,a.fico-sns:active i,a.fico-sns:focus{opacity:.75;}

.footer-lineblog{margin-left:15px;}


.footer-notice{text-align:right;margin-top:10px;}
	@media only screen and (max-width:767px)	 {.footer-notice{text-align:left;display:flex;justify-content:flex-end;}}
	@media only screen and (max-width:575px)	 {.footer-notice{text-align:center;justify-content:center;}}


.ax-flat,.ax-flat:hover,.ax-flat:active,.ax-flat:focus					{color:#FFF;background-color:#000;border-color:none;position:relative;}

.ax-solid,.ax-solid:hover,.ax-solid:active,.ax-solid:focus				{color:#000;background-color:#fff;border-color:#000;}
.ax-solid:hover,.ax-solid:active,.ax-solid:focus						{color:#FFF;background-color:#000;opacity:1;}

.ax-negative,.ax-negative:hover,.ax-negative:active,.ax-negative:focus	{color:#FFF;background-color:rgba(255,255,255,.5);border-color:#FFF;}
.ax-negative:hover,.ax-negative:active,.ax-negative:focus				{color:#FFF;background-color:rgba(255,255,255,.25);}

.ax-outline,.ax-outline:hover,.ax-outline:active,.ax-outline:focus		{background:transparent;color:#fff;border-color:#fff;}
.ax-outline:hover,.ax-outline:active,.ax-outline:focus					{background:rgba(255,255,255,.25);border-color:#FFF;opacity:1;}

.ax-ct{opacity:.5 !important;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.ax-ct:hover,.ax-ct:active,.ax-ct:focus,.ax-ct.active{opacity:1 !important;}


.ax-rd,a.ax-rd:hover,a.ax-rd:active,a.ax-rd:focus{border-radius:4px;}

.axbtn,a.axbtn:hover,a.axbtn:active,a.axbtn:focus	{font-size:16px;line-height:24px;padding:16px;}


.ax-xl,a.ax-xl:hover,a.ax-xl:active,a.ax-xl:focus{font-size:21px;line-height:33px;padding:24px;}
.ax-lg,a.ax-lg:hover,a.ax-lg:active,a.ax-lg:focus{font-size:18px;line-height:27px;padding:20px;}
.ax-sm,a.ax-sm:hover,a.ax-sm:active,a.ax-sm:focus{font-size:14px;line-height:20px;padding:12px;}
.ax-xs,a.ax-xs:hover,a.ax-xs:active,a.ax-xs:focus{font-size:12px;line-height:16px;padding:8px;}

	@media screen and (max-width:767px)	{
		.axbtn,a.axbtn:hover,a.axbtn:active,a.axbtn:focus{font-size:14px;line-height:20px;padding:12px;}

		.ax-xl,a.ax-xl:hover,a.ax-xl:active,a.ax-xl:focus{font-size:18px;line-height:24px;padding:20px;}
		.ax-lg,a.ax-lg:hover,a.ax-lg:active,a.ax-lg:focus{font-size:16px;line-height:24px;padding:16px;}
		.ax-sm,a.ax-sm:hover,a.ax-sm:active,a.ax-sm:focus{font-size:12px;line-height:16px;padding:8px;}
		.ax-xs,a.ax-xs:hover,a.ax-xs:active,a.ax-xs:focus{font-size:10px;line-height:12px;padding:4px;}
	}



.portraits{display: flex;justify-content:center;flex-flow:row wrap;padding-top: 45px;}

.portrait{flex:1 1 20%;max-width: 20%;}

.pr1,.pr2,.pr3,.pr4,.pr5{padding-bottom: 100%;background-position: center center;background-size:cover;background-repeat: no-repeat;}

	@media only screen and (max-width:575px)	{
		.portrait:nth-of-type(1),.portrait:nth-of-type(2),.portrait:nth-of-type(4),.portrait:nth-of-type(5){flex:1 1 50%;max-width: 50%;}
		.portrait:nth-of-type(3){flex:1 1 100%;max-width: 100%;}

		.pr3{padding-bottom: 50%;}
	}

.pr1{background-image: url(../images/profile02a.jpg);}
.pr2{background-image: url(../images/profile02b.jpg);}
.pr3{background-image: url(../images/profile02c.jpg);}
.pr4{background-image: url(../images/profile02d.jpg);}
.pr5{background-image: url(../images/profile02e.jpg);}



.dlv{table-layout: fixed;}
.dlv th,.dlv td{text-align: center;font-size: 14px;padding: 9px;}




.price-table{border-top: 1px solid rgba(255,255,255,.33);border-left: 1px solid rgba(255,255,255,.33);display: table;}

.price-table + .price-table{margin-top: 30px;}
	@media only screen and (max-width:991px)	{.price-table + .price-table{margin-top: 20px;}}
	@media only screen and (max-width:767px)	{.price-table + .price-table{margin-top: 10px;}}


.price-head,.price-body{display: table-cell;}

.price-head th{width: 104px;}
.price-body th{width: 120px;}

	@media only screen and (max-width:1199px)	{
		.price-head th{width: 79px;}
		.price-body th{width: 110px;}
	}
	@media only screen and (max-width:991px)	{
		.price-head th{width: 62px;}
		.price-body th{width: 85px;}
	}
	@media only screen and (max-width:767px)	{
		.price-head th{width: 55px;}
		.price-body th{width: 62px;}
	}
	@media only screen and (max-width:575px)	{
		.price-head th{width: 45px;}
		.price-body th{width: 50px;}
	}



.price-table table{width: auto;table-layout: fixed;}

.price-table th,.price-table td{border-right: 1px solid rgba(255,255,255,.33);border-bottom: 1px solid rgba(255,255,255,.33);text-align: center;padding: 9px;font-size: 14px;}
	@media only screen and (max-width:991px)	{.price-table th,.price-table td{padding: 4px;font-size: 12px;}}
	@media only screen and (max-width:575px)	{.price-table th,.price-table td{padding: 4px 2px;font-size: 10px;}}

.price-table th{background: rgba(255,255,255,.2);}
.price-table td{background: rgba(255,255,255,.1);}


.dlv-fee{border: 1px solid #DDD;display: flex;padding: 1px;margin-top: 15px;}
	@media only screen and (max-width:9991px)	{.dlv-fee{flex-flow:row wrap;}}

.fee{text-align: center;padding: 9px;background: rgba(0,0,0,.1);border: 1px solid #FFF;flex: 1 1 25%;max-width: 25%;}
	@media only screen and (max-width:991px)	{.fee{flex: 1 1 50%;max-width: 50%;}}
	@media only screen and (max-width:575px)	{.fee{flex: 1 1 100%;max-width: 100%;padding: 4px;}}


.time-zone{border: 1px solid rgba(255,255,255,.33);display: flex;padding: 1px;margin-top: 15px;}
	@media only screen and (max-width:767px)	{.time-zone{flex-flow:row wrap;}}

.zone{text-align: center;padding: 9px;background: rgba(255,255,255,.1);border: 1px solid #000;flex: 1 1 16.6666666666%;max-width: 16.6666666666%;}
	@media only screen and (max-width:767px)	{.zone{padding: 4px;flex: 1 1 33.3333333333%;max-width: 33.3333333333%;}}
	@media only screen and (max-width:575px)	{.zone{flex: 1 1 50%;max-width: 50%;}}


.modal-body{font-size: 14px;line-height: 1.75;padding: 30px;}
	@media only screen and (max-width:767px)	{.modal-body{font-size: 12px;line-height: 1.5;padding: 15px;}}
